<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MOOLAH</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">


    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous" defer></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" async></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.18.1/moment.min.js" async></script>

</head>

<body>
  <div id="bodyHolder">
    <div id="nav">
      <div class="backImgHolder">
        <a data-toggle="modal" data-target="#menuModal" class="menu"><img src="../images/menu-toggler.png" alt="menu-icon" id="menu-icon"></a>
        <h1 id="title">MOOLAH</h1>
        <a data-toggle="modal" data-target="#chartModal" class="chart"><img src="../images/chart-icon.png" alt="chart-icon" id="chart-icon"></a>
      </div>
    </div>

 <div id="menuModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">MENU</h4>
       </div>
       <div class="modal-body">
         <a href="/" class="modal-link">Home</a>
         <br>
         <br>
         <a href="/profile" class="modal-link">Profile</a>
         <br>
         <br>
         <a href="/login" class="modal-link">Login</a>
       </div>
     </div>
   </div>
 </div>


 <div id="chartModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">CRYPTOCURRENCY<BR>PRICE GRAPHS</h4>
       </div>
       <div class="modal-body">
         <a data-toggle="modal" data-target="#btcModal" class="modal-link">Bitcoin</a>
         <br>
         <br>
         <a data-toggle="modal" data-target="#ltcModal" class="modal-link">Litecoin</a>
         <br>
         <br>
         <a data-toggle="modal" data-target="#ethModal" class="modal-link">Ethereum</a>
         <br>
         <br>
         <a data-toggle="modal" data-target="#iotModal" class="modal-link">IOTA</a>
         <br>
         <br>
         <a data-toggle="modal" data-target="#etcModal" class="modal-link">Ethereum Classic</a>
         <br>
         <br>
         <a data-toggle="modal" data-target="#dshModal" class="modal-link">Dash</a>
         <br>
         <br>
         <a data-toggle="modal" data-target="#xrpModal" class="modal-link">Ripple</a>
         <br>
         <br>
         <a data-toggle="modal" data-target="#bccModal" class="modal-link">Bitcoin Cash</a>
         <br>
         <br>
         <a data-toggle="modal" data-target="#xmrModal" class="modal-link">Monero</a>
       </div>
     </div>
   </div>
 </div>


 <div id="btcModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">BITCOIN</h4>
       </div>
       <div class="modal-body">
         <button data-currency="btc" class="one-week">1WK</button>
         <button data-currency="btc" class="one-month">1MO</button>
         <button data-currency="btc" class="one-quarter">3MO</button>
         <button data-currency="btc" class="six-month">6MO</button>
         <button data-currency="btc" class="one-year">1YR</button>

       </div>
     </div>
   </div>
 </div>


 <div id="ltcModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">LITECOIN</h4>
       </div>
       <div class="modal-body">
         <button data-currency="ltc" class="one-week">1WK</button>
         <button data-currency="ltc" class="one-month">1MO</button>
         <button data-currency="ltc" class="one-quarter">3MO</button>
         <button data-currency="ltc" class="six-month">6MO</button>
         <button data-currency="ltc" class="one-year">1YR</button>
       </div>
     </div>
   </div>
 </div>


 <div id="ethModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">ETHEREUM</h4>
       </div>
       <div class="modal-body">
         <button data-currency="eth" class="one-week">1WK</button>
         <button data-currency="eth" class="one-month">1MO</button>
         <button data-currency="eth" class="one-quarter">3MO</button>
         <button data-currency="eth" class="six-month">6MO</button>
         <button data-currency="eth" class="one-year">1YR</button>
       </div>
     </div>
   </div>
 </div>


 <div id="iotModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">IOTA</h4>
       </div>
       <div class="modal-body">
         <button data-currency="iot" class="one-week">1WK</button>
         <button data-currency="iot" class="one-month">1MO</button>
         <button data-currency="iot" class="one-quarter">3MO</button>
         <button data-currency="iot" class="six-month">6MO</button>
         <button data-currency="iot" class="one-year">1YR</button>
       </div>
     </div>
   </div>
 </div>


 <div id="etcModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">ETHEREUM CLASSIC</h4>
       </div>
       <div class="modal-body">
         <button data-currency="etc" class="one-week">1WK</button>
         <button data-currency="etc" class="one-month">1MO</button>
         <button data-currency="etc" class="one-quarter">3MO</button>
         <button data-currency="etc" class="six-month">6MO</button>
         <button data-currency="etc" class="one-year">1YR</button>
       </div>
     </div>
   </div>
 </div>


 <div id="dshModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">DASH</h4>
       </div>
       <div class="modal-body">
         <button data-currency="dsh" class="one-week">1WK</button>
         <button data-currency="dsh" class="one-month">1MO</button>
         <button data-currency="dsh" class="one-quarter">3MO</button>
         <button data-currency="dsh" class="six-month">6MO</button>
         <button data-currency="dsh" class="one-year">1YR</button>
       </div>
     </div>
   </div>
 </div>


 <div id="xrpModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">RIPPLE</h4>
       </div>
       <div class="modal-body">
         <button data-currency="xrp" class="one-week">1WK</button>
         <button data-currency="xrp" class="one-month">1MO</button>
         <button data-currency="xrp" class="one-quarter">3MO</button>
         <button data-currency="xrp" class="six-month">6MO</button>
         <button data-currency="xrp" class="one-year">1YR</button>
       </div>
     </div>
   </div>
 </div>


 <div id="bccModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">BITCOIN CASH</h4>
       </div>
       <div class="modal-body">
         <button data-currency="bcc" class="one-week">1WK</button>
         <button data-currency="bcc" class="one-month">1MO</button>
         <button data-currency="bcc" class="one-quarter">3MO</button>
         <button data-currency="bcc" class="six-month">6MO</button>
         <button data-currency="bcc" class="one-year">1YR</button>
       </div>
     </div>
   </div>
 </div>


 <div id="xmrModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">MONERO</h4>
       </div>
       <div class="modal-body">
         <button data-currency="xmr" class="one-week">1WK</button>
         <button data-currency="xmr" class="one-month">1MO</button>
         <button data-currency="xmr" class="one-quarter">3MO</button>
         <button data-currency="xmr" class="six-month">6MO</button>
         <button data-currency="xmr" class="one-year">1YR</button>
       </div>
     </div>
   </div>
 </div>

  {{{ body }}}
  </div>
</body>

</html>
