<script src="/js/currency.js" async></script>

<div id="currencyHolder">
  <h1 id="currencyTitle"></h1>
  <p>Last Price: $<span class="last_price"></span></p>
  <p>24HR Low: $<span class="low"></span></p>
  <p>24HR High: $<span class="high"></span></p>
  <p>24HR Volume: <span class="vol"></span></p>
  <p>Daily Chg: $<span class="chg"></span></p>
  <p>Daily Chg %: <span class="percChg"></span>%</p>

</div>

<div id="chartHolder">
  <canvas id=""></canvas>
</div>

<div id="newsHolder">

</div>
