<script src="/js/currency.js" async></script>
<div class="body-wrapper">
<div class="page-background">
  <div class="tableResponsive-currency">
  <div class="jumbotron-currency">
  <div id="currencyHolder">
    <div id="currencyTitle"></div>
    <table>
      <thead>
        <tr>
          <th>Last Price</th>
          <th>Daily Low</th>
          <th>Daily High</th>
          <th>Daily Volume</th>
          <th>Daily Chg $</th>
          <th>Daily Chg %</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="last_price"></td>
          <td class="low"></td>
          <td class="high"></td>
          <td class="vol"></td>
          <td class="chg"></td>
          <td class="percChg"></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div id="currencyData">

  </div>



  <ul class="nav nav-tabs" id="contentTab">
    <li class="active"><a href="#news" data-toggle="tab">News</a></li>
    <li><a href="#twitterHolder" data-toggle="tab">Social Media</a></li>
    <li><a href="#charts" data-toggle="tab">Charts</a></li>
    <li><a href="#details" data-toggle="tab">Details</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="news">
      <div id="newsHolder">
        <h2>News</h2>
      </div>
      <div id="coinHolder">
        <h2>Coin Desk Headlines</h2>
      </div>
    </div>

    <div class="tab-pane" id="twitterHolder">
      <h2>Tweets</h2>

    </div>

    <div class="tab-pane" id="charts">
      <h2>Charts</h2>
      <div id="chartHolder">
        <button class="one-week">1WK</button>
        <button class="one-month">1MO</button>
        <button class="one-quarter">3MO</button>
        <button class="six-month">6MO</button>
        <button class="one-year">1YR</button>
        <canvas id="closeChart"></canvas>
        <canvas id="volumeChart"></canvas>

      </div>

    </div>

    <div class="tab-pane" id="details">
      <h2>Currency Details</h2>

    </div>

  </div>
</div>
</div>
</div>
</div>
