<script src="/js/currency.js" async></script>
<div class="body-wrapper">
<div class="page-background">
  <div class="tableResponsive-currency">
  <div class="jumbotron-currency">
  <div id="currencyHolder">
    <h1 id="currencyTitle"></h1>
        <p class="last_price"></p>
        <p class="low"></p>
        <p class="high"></p>
        <p class="vol"></p>
        <p class="chg"></p>
        <p class="percChg"></p>

  </div>

  <div id="chartHolder">
    <button class="one-week">1WK</button>
    <button class="one-month">1MO</button>
    <button class="one-quarter">3MO</button>
    <button class="six-month">6MO</button>
    <button class="one-year">1YR</button>

  </div>

  <div id="newsHolder">
    <h2>News</h2>

  </div>

  <div id="twitterHolder">
    <h2>Tweets</h2>

  </div>

  <div id="coinHolder">
    <h2>Coin Desk Headlines</h2>

  </div>
</div>
</div>
</div>
</div>
