
<a href="/login">Login</a>
<div id="btc">
  <h1>BTC/USD</h1>
  <p>Last Price: $<span class="last_price"></span></p>
  <p>24HR Low: $<span class="low"></span></p>
  <p>24HR High: $<span class="high"></span></p>
  <p>24HR Volume: <span class="vol"></span></p>
  <p>Daily Chg: $<span class="chg"></span></p>
  <p>Daily Chg %: <span class="percChg"></span>%</p>
  <canvas id="btcChart"></canvas>
</div>

<div id="ltc">
  <h1>LTC/USD</h1>
  <p>Last Price: $<span class="last_price"></span></p>
  <p>24HR Low: $<span class="low"></span></p>
  <p>24HR High: $<span class="high"></span></p>
  <p>24HR Volume: <span class="vol"></span></p>
  <p>Daily Chg: $<span class="chg"></span></p>
  <p>Daily Chg %: <span class="percChg"></span>%</p>
  <canvas id="ltcChart"></canvas>
</div>

<div id="eth">
  <h1>ETH/USD</h1>
  <p>Last Price: $<span class="last_price"></span></p>
  <p>24HR Low: $<span class="low"></span></p>
  <p>24HR High: $<span class="high"></span></p>
  <p>24HR Volume: <span class="vol"></span></p>
  <p>Daily Chg: $<span class="chg"></span></p>
  <p>Daily Chg %: <span class="percChg"></span>%</p>
  <canvas id="ethChart"></canvas>
</div>

<div id="iot">
  <h1>IOT/USD</h1>
  <p>Last Price: $<span class="last_price"></span></p>
  <p>24HR Low: $<span class="low"></span></p>
  <p>24HR High: $<span class="high"></span></p>
  <p>24HR Volume: <span class="vol"></span></p>
  <p>Daily Chg: $<span class="chg"></span></p>
  <p>Daily Chg %: <span class="percChg"></span>%</p>
  <canvas id="iotChart"></canvas>
</div>

<div id="etc">
  <h1>ETC/USD</h1>
  <p>Last Price: $<span class="last_price"></span></p>
  <p>24HR Low: $<span class="low"></span></p>
  <p>24HR High: $<span class="high"></span></p>
  <p>24HR Volume: <span class="vol"></span></p>
  <p>Daily Chg: $<span class="chg"></span></p>
  <p>Daily Chg %: <span class="percChg"></span>%</p>
  <canvas id="etcChart"></canvas>
</div>

<div id="dsh">
  <h1>DSH/USD</h1>
  <p>Last Price: $<span class="last_price"></span></p>
  <p>24HR Low: $<span class="low"></span></p>
  <p>24HR High: $<span class="high"></span></p>
  <p>24HR Volume: <span class="vol"></span></p>
  <p>Daily Chg: $<span class="chg"></span></p>
  <p>Daily Chg %: <span class="percChg"></span>%</p>
  <canvas id="dshChart"></canvas>
</div>

<div id="xrp">
  <h1>XRP/USD</h1>
  <p>Last Price: $<span class="last_price"></span></p>
  <p>24HR Low: $<span class="low"></span></p>
  <p>24HR High: $<span class="high"></span></p>
  <p>24HR Volume: <span class="vol"></span></p>
  <p>Daily Chg: $<span class="chg"></span></p>
  <p>Daily Chg %: <span class="percChg"></span>%</p>
  <canvas id="xrpChart"></canvas>
</div>

<div id="bcc">
  <h1>BCC/USD</h1>
  <p>Last Price: $<span class="last_price"></span></p>
  <p>24HR Low: $<span class="low"></span></p>
  <p>24HR High: $<span class="high"></span></p>
  <p>24HR Volume: <span class="vol"></span></p>
  <p>Daily Chg: $<span class="chg"></span></p>
  <p>Daily Chg %: <span class="percChg"></span>%</p>
  <canvas id="bccChart"></canvas>
</div>

<div id="xmr">
  <h1>XMR/USD</h1>
  <p>Last Price: $<span class="last_price"></span></p>
  <p>24HR Low: $<span class="low"></span></p>
  <p>24HR High: $<span class="high"></span></p>
  <p>24HR Volume: <span class="vol"></span></p>
  <p>Daily Chg: $<span class="chg"></span></p>
  <p>Daily Chg %: <span class="percChg"></span>%</p>
  <canvas id="xmrChart"></canvas>
</div>
