<script src="/js/app.js" async></script>


<div id="currencyHolder">
  <div class="currencyData" id="btc">
    <div class="currencyTitle">
      <img src="../images/bitcoin-icon.png" alt="Bitcoin" class="currencyIcon">
      <h2>Bitcoin</h2>
      <p><a href="/currency/btc">BTC/USD</a></p>
      <span class="last_price"></span>
    </div>
    <div class="dataHolder">
      <span class="low"></span>
      <span class="high"></span>
      <span class="vol"></span>
      <span class="chg"></span>
      <span class="percChg"></span>
    </div>

  </div>

  <div class="currencyData" id="ltc">
    <div class="currencyTitle">
      <img src="../images/litecoin-icon.png" alt="Litecoin" class="currencyIcon">
      <h2>Litecoin</h2>
      <p><a href="/currency/ltc">LTC/USD</a></p>
      <span class="last_price"></span>
    </div>
    <div class="dataHolder">
      <p class="minHide">24HR Low: $</p><span class="low"></span>
      <p class="minHide">24HR High: $</p><span class="high"></span>
      <p class="minHide">24HR Volume: </p><span class="vol"></span>
      <p class="minHide">Daily Chg: $</p><span class="chg"></span>
      <p class="minHide">Daily Chg %: </p><span class="percChg"></span>
    </div>
  </div>

  <div class="currencyData" id="eth">
    <div class="currencyTitle">
      <img src="../images/ethereum-icon.png" alt="Ethereum" class="currencyIcon">
      <h2>Ethereum</h2>
      <p><a href="/currency/eth">ETH/USD</a></p>
      <span class="last_price"></span>
    </div>
    <div class="dataHolder">
      <p class="minHide">24HR Low: $</p><span class="low"></span>
      <p class="minHide">24HR High: $</p><span class="high"></span>
      <p class="minHide">24HR Volume: </p><span class="vol"></span>
      <p class="minHide">Daily Chg: $</p><span class="chg"></span>
      <p class="minHide">Daily Chg %: </p><span class="percChg"></span>
    </div>
  </div>

  <div class="currencyData" id="iot">
    <div class="currencyTitle">
      <img src="../images/iota-icon.png" alt="Iota" class="currencyIcon">
      <h2>IOTA</h2>
      <p><a href="/currency/iot">IOT/USD</a></p>
      <span class="last_price"></span>
    </div>
    <div class="dataHolder">
      <p class="minHide">24HR Low: $</p><span class="low"></span>
      <p class="minHide">24HR High: $</p><span class="high"></span>
      <p class="minHide">24HR Volume: </p><span class="vol"></span>
      <p class="minHide">Daily Chg: $</p><span class="chg"></span>
      <p class="minHide">Daily Chg %: </p><span class="percChg"></span>
    </div>
  </div>

  <div class="currencyData" id="etc">
    <div class="currencyTitle">
      <img src="../images/ethereum-classic-icon.png" alt="Ethereum Classic" class="currencyIcon">
      <h2>Ethereum Classic</h2>
      <p><a href="/currency/etc">ETC/USD</a></p>
      <span class="last_price"></span>
    </div>
    <div class="dataHolder">
      <p class="minHide">24HR Low: $</p><span class="low"></span>
      <p class="minHide">24HR High: $</p><span class="high"></span>
      <p class="minHide">24HR Volume: </p><span class="vol"></span>
      <p class="minHide">Daily Chg: $</p><span class="chg"></span>
      <p class="minHide">Daily Chg %: </p><span class="percChg"></span>
    </div>
  </div>

  <div class="currencyData" id="dsh">
    <div class="currencyTitle">
      <img src="../images/dash-icon.png" alt="Dash" class="currencyIcon">
      <h2>Dash</h2>
      <p><a href="/currency/dsh">DSH/USD</a></p>
      <span class="last_price"></span>
    </div>
    <div class="dataHolder">
      <p class="minHide">24HR Low: $</p><span class="low"></span>
      <p class="minHide">24HR High: $</p><span class="high"></span>
      <p class="minHide">24HR Volume: </p><span class="vol"></span>
      <p class="minHide">Daily Chg: $</p><span class="chg"></span>
      <p class="minHide">Daily Chg %: </p><span class="percChg"></span>
    </div>
  </div>

  <div class="currencyData" id="xrp">
    <div class="currencyTitle">
      <img src="../images/ripple-icon.png" alt="Ripple" class="currencyIcon">
      <h2>Ripple</h2>
      <p><a href="/currency/xrp">XRP/USD</a></p>
      <span class="last_price"></span>
    </div>
    <div class="dataHolder">
      <p class="minHide">24HR Low: $</p><span class="low"></span>
      <p class="minHide">24HR High: $</p><span class="high"></span>
      <p class="minHide">24HR Volume: </p><span class="vol"></span>
      <p class="minHide">Daily Chg: $</p><span class="chg"></span>
      <p class="minHide">Daily Chg %: </p><span class="percChg"></span>
    </div>
  </div>

  <div class="currencyData" id="bcc">
    <div class="currencyTitle">
      <img src="../images/bitcoin-cash-icon.png" alt="Bitcoin Cash" class="currencyIcon">
      <h2>Bitcoin Cash</h2>
      <p><a href="/currency/bcc">BCC/USD</a></p>
      <span class="last_price"></span>
    </div>
    <div class="dataHolder">
      <p class="minHide">24HR Low: $</p><span class="low"></span>
      <p class="minHide">24HR High: $</p><span class="high"></span>
      <p class="minHide">24HR Volume: </p><span class="vol"></span>
      <p class="minHide">Daily Chg: $</p><span class="chg"></span>
      <p class="minHide">Daily Chg %: </p><span class="percChg"></span>
    </div>
  </div>

  <div class="currencyData" id="xmr">
    <div class="currencyTitle">
      <img src="../images/monero-icon.png" alt="Monero" class="currencyIcon">
      <h2>Monero</h2>
      <p><a href="/currency/xmr">XMR/USD</a></p>
      <span class="last_price"></span>
    </div>
    <div class="dataHolder">
      <p class="minHide">24HR Low: $</p><span class="low"></span>
      <p class="minHide">24HR High: $</p><span class="high"></span>
      <p class="minHide">24HR Volume: </p><span class="vol"></span>
      <p class="minHide">Daily Chg: $</p><span class="chg"></span>
      <p class="minHide">Daily Chg %: </p><span class="percChg"></span>
    </div>
  </div>
</div>
