<div id="btc">
  <h1>BTC/USD</h1>
  <p>Last Price: $<span id="btc_last_price"></span></p>
  <p>24HR Low: $<span id="btc_low"></span></p>
  <p>24HR High: $<span id="btc_high"></span></p>
  <p>24HR Volume: <span id="btc_vol"></span></p>
  <p>Daily Chg: $<span id="btc_chg"></span></p>
  <p>Daily Chg %: <span id="btc_percChg"></span>%</p>
  <canvas id="btcChart"></canvas>
</div>

<div id="ltc">
  <h1>LTC/USD</h1>
  <p>Last Price: $<span id="ltc_last_price"></span></p>
  <p>24HR Low: $<span id="ltc_low"></span></p>
  <p>24HR High: $<span id="ltc_high"></span></p>
  <p>24HR Volume: <span id="ltc_vol"></span></p>
  <p>Daily Chg: $<span id="ltc_chg"></span></p>
  <p>Daily Chg %: <span id="ltc_percChg"></span>%</p>
  <canvas id="ltcChart"></canvas>
</div>

<div id="eth">
  <h1>ETH/USD</h1>
  <p>Last Price: $<span id="eth_last_price"></span></p>
  <p>24HR Low: $<span id="eth_low"></span></p>
  <p>24HR High: $<span id="eth_high"></span></p>
  <p>24HR Volume: <span id="eth_vol"></span></p>
  <p>Daily Chg: $<span id="eth_chg"></span></p>
  <p>Daily Chg %: <span id="eth_percChg"></span>%</p>
</div>

<div id="iot">
  <h1>IOT/USD</h1>
  <p>Last Price: $<span id="iot_last_price"></span></p>
  <p>24HR Low: $<span id="iot_low"></span></p>
  <p>24HR High: $<span id="iot_high"></span></p>
  <p>24HR Volume: <span id="iot_vol"></span></p>
  <p>Daily Chg: $<span id="iot_chg"></span></p>
  <p>Daily Chg %: <span id="iot_percChg"></span>%</p>
</div>

<div id="etc">
  <h1>ETC/USD</h1>
  <p>Last Price: $<span id="etc_last_price"></span></p>
  <p>24HR Low: $<span id="etc_low"></span></p>
  <p>24HR High: $<span id="etc_high"></span></p>
  <p>24HR Volume: <span id="etc_vol"></span></p>
  <p>Daily Chg: $<span id="etc_chg"></span></p>
  <p>Daily Chg %: <span id="etc_percChg"></span>%</p>
</div>

<div id="dsh">
  <h1>DSH/USD</h1>
  <p>Last Price: $<span id="dsh_last_price"></span></p>
  <p>24HR Low: $<span id="dsh_low"></span></p>
  <p>24HR High: $<span id="dsh_high"></span></p>
  <p>24HR Volume: <span id="dsh_vol"></span></p>
  <p>Daily Chg: $<span id="dsh_chg"></span></p>
  <p>Daily Chg %: <span id="dsh_percChg"></span>%</p>
</div>

<div id="xrp">
  <h1>XRP/USD</h1>
  <p>Last Price: $<span id="xrp_last_price"></span></p>
  <p>24HR Low: $<span id="xrp_low"></span></p>
  <p>24HR High: $<span id="xrp_high"></span></p>
  <p>24HR Volume: <span id="xrp_vol"></span></p>
  <p>Daily Chg: $<span id="xrp_chg"></span></p>
  <p>Daily Chg %: <span id="xrp_percChg"></span>%</p>
</div>

<div id="bcc">
  <h1>BCC/USD</h1>
  <p>Last Price: $<span id="bcc_last_price"></span></p>
  <p>24HR Low: $<span id="bcc_low"></span></p>
  <p>24HR High: $<span id="bcc_high"></span></p>
  <p>24HR Volume: <span id="bcc_vol"></span></p>
  <p>Daily Chg: $<span id="bcc_chg"></span></p>
  <p>Daily Chg %: <span id="bcc_percChg"></span>%</p>
</div>

<div id="xmr">
  <h1>XMR/USD</h1>
  <p>Last Price: $<span id="xmr_last_price"></span></p>
  <p>24HR Low: $<span id="xmr_low"></span></p>
  <p>24HR High: $<span id="xmr_high"></span></p>
  <p>24HR Volume: <span id="xmr_vol"></span></p>
  <p>Daily Chg: $<span id="xmr_chg"></span></p>
  <p>Daily Chg %: <span id="xmr_percChg"></span>%</p>
</div>
