<form id="login" method="POST" action="/loginGate">
  <input id="email" type="text" placeholder="Email" name="email">
  <input id="password" type="text" placeholder="Password" name="password">
  <button type="submit">Submit</button>
</form>
