<h1>Create a New Trade</h1>
<form id="trades" method="POST" action="/newTrade">
  <select id="currency" name="currency">
    <option value="btc">BTC</option>
    <option value="ltc">LTC</option>
    <option value="eth">ETH</option>
    <option value="iot">IOT</option>
    <option value="etc">ETC</option>
    <option value="dsh">DSH</option>
    <option value="xrp">XRP</option>
    <option value="bcc">BCC</option>
    <option value="xmr">XMR</option>
  </select>
  <input id="units" name="units" placeholder="Units">
  <input id="unit_purchase_price" name="unit_purchase_price" placeholder="Unit Purchase Price">
  <button type="submit">Submit</button>


</form>
